{% block stylesheets %}
	<link rel="stylesheet" href="CSS/style.css">
{% endblock %}

{% block header %}
	<header>
		<h1>Link page</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
	</header>
{% endblock %}

{% block body %}

	<main class="wrapper">

		<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, non!</h1>

		<i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam id in natus cumque distinctio maxime ea amet corporis voluptatibus blanditiis?</i>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id reiciendis cum, dolores, iusto perspiciatis deserunt distinctio quod libero tenetur repellendus, exercitationem vitae. Quibusdam at, laboriosam culpa sapiente nostrum incidunt, consectetur neque illum vel ipsam nam ratione numquam quod ullam, adipisci quos? Consequuntur esse amet nobis modi sint omnis eaque ducimus tenetur doloremque veniam fugiat ad atque pariatur sunt, eius perspiciatis debitis reiciendis, quasi, cum itaque ut ea. Vero ut placeat exercitationem culpa velit animi voluptas, doloremque ipsum commodi veniam, ad, quibusdam ducimus tenetur? Alias saepe atque cumque maiores eius vitae nihil quae optio enim voluptate, dicta incidunt aliquam voluptatibus. Similique.</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero perspiciatis dicta cumque blanditiis, ut dolorum distinctio delectus sunt possimus maxime veniam eaque beatae iure sed accusamus. Officiis eaque eius soluta voluptates dignissimos sequi laudantium quia quas molestias maxime temporibus, odit ullam iusto, ex amet, quam deleniti. Quam voluptas, officia maxime repellendus fugiat velit harum corporis doloremque corrupti repudiandae perspiciatis maiores laborum temporibus dignissimos libero laboriosam quas animi iusto doloribus modi assumenda adipisci beatae. Reiciendis mollitia ratione ipsum sit delectus a provident beatae? Atque voluptatem cupiditate nobis dicta rem nulla sed, ducimus neque quaerat necessitatibus inventore? Sed blanditiis itaque voluptatibus dolor iure iusto nostrum ducimus maiores deleniti animi, error magni modi incidunt soluta, in eos, ipsa aut asperiores? Numquam eveniet distinctio autem sit animi obcaecati nobis quas quia nemo ut esse iste incidunt similique omnis maxime laboriosam impedit, suscipit vel quae ex, sed eos corrupti quisquam magni. Minima beatae, sapiente velit necessitatibus est eligendi, nostrum temporibus laboriosam accusamus quasi deserunt praesentium illum quaerat dolore quas incidunt placeat vel ratione cumque. Minima at amet dolor? Dicta minus reprehenderit quae blanditiis at sit ex aliquam numquam totam illo itaque nisi, quisquam debitis distinctio magnam quibusdam quam ratione voluptate. Facilis ratione id nulla sint!</p>

		<p>
			<b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae error quos ipsam quaerat tenetur accusamus totam ab, quas quod reiciendis voluptates. Officia sit enim, quod facere dolores a assumenda sequi at, blanditiis quo repudiandae doloribus amet nostrum? Tenetur, accusamus iusto. Explicabo, excepturi. Dolorum quidem eius, iure nostrum suscipit consequuntur dolor?</b>
		</p>

	</main>

{% endblock %}

{% block footer %}
	<footer>
		<small>Copyright &copy; Alex Tran</small>
	</footer>
{% endblock %}
